{% extends "layout.html" %}
{% block content %}
<h1>GitHub Loader</h1>

<h2>This application helps you to create a new repository under your GitHub credentials
    and upload it’s code to the repository that been created.</h2>
<h2>Just a couple of steps to upload this app to your repository:</h2>

<h2><ol type="1">
    <li>Login with your GitHub credentials</li>
    <li>Click on the 'Create Repository' in the top left corner</li>
    <li>Enter name and description for new repository</li>
    <li>Click the 'Create Repository' button</li>
</ol></h2>
<h2>It may take some time to load the code of the app to you repo. Once done you'll see success message.
And you'll see new repository in the list of your repositories on home page</h2>

<h4>Warning: this app will gather and store your personal data (username and email) to build some statistics</h4>
{% endblock content %}
